# Misc #
*~
*.class
target
classes
*.log
.externalToolBuilders

# Package Files #
*.jar
*.war
*.ear

# Eclipse files #
.project
.settings
.classpath

# NetBeans files #
nbactions*
nb-configuration.xml

# Android #
gen
api_key.xml
bin
libs